<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../images/logost3.png" alt="Logo" width="100" height="100" class="me-2" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="../pages/citizen2.html"><i class="fas fa-home me-1"></i>الرئيسية</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-chart-line me-1"></i>التقارير</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-cogs me-1"></i>الإعدادات</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-circle me-1"></i>الملف الشخصي</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-sign-out-alt me-1"></i>تسجيل الخروج</a></li>
      </ul>
    </div>
  </div>
</header>

