<div class="sidebar">
  <div class="logo">
    <h3>نظام إدارة الوقود</h3>
  </div>
  <nav class="nav flex-column">
    <a class="nav-link" href="#" data-page="default" ><i class="fas fa-tachometer-alt" ></i> لوحة التحكم</a>
    <a class="nav-link" href="#" data-page="stations"><i class="fas fa-gas-pump"></i> إدارة المحطات</a>
    <a class="nav-link" href="#" data-page="fuel"><i class="fas fa-oil-can"></i> إدارة الوقود</a>
    <a class="nav-link" href="#" data-page="users-management"><i class="fas fa-users"></i> إدارة المستخدمين</a>
    <a class="nav-link" href="#" data-page="reports"><i class="fas fa-chart-line"></i> التقارير والإحصائيات</a>
    <a class="nav-link" href="#" data-page="settings"><i class="fas fa-cog"></i> الإعدادات</a>
  </nav>
</div>

