  <div class="container-fluid d-flex align-items-center justify-content-between">
    <!-- الشعار والعنوان -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="images/logost3.png" alt="Logo" width="100" height="100" class="me-2 rounded-circle" />
      <!-- <span class="fw-bold fs-5">نظام رصد الوقود</span> -->
    </a>

    <!-- زر القائمة في الهاتف -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- روابط التنقل -->
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="index_en.html"><i class="fas fa-home me-1"></i>home</a></li>
        <li class="nav-item"><a class="nav-link" href="#features"><i class="fas fa-chart-line me-1"></i>features</a></li>
        <li class="nav-item"><a class="nav-link" href="#solutions"><i class="fas fa-cogs me-1"></i>solutions</a></li>
        <li class="nav-item"><a class="nav-link" href="#map-section"><i class="fas fa-map me-1"></i>map</a></li>
        <li class="nav-item"><a class="nav-link" href="#cta"><i class="fas fa-user-circle me-1"></i> contact us</a></li>
        <!-- زر تغيير اللغة -->
      <li id="translate"  class="nav-item"><a class="nav-link" href="index.html" class="btn btn-outline-light ms-2 d-none d-lg-inline" title="English">
        <i class="fas fa-language me-1"></i> arabic
      </a></li> 
            <li class="nav-item" ><a id="findStation"  class="nav-link" href="pages/MapStation.html" ><i class="fas fa-station me-1"></i>  find station</a></li>

      </ul>
    </div>
  </div>
