  <div class="container-fluid d-flex align-items-center justify-content-between ">
    <!-- الشعار والعنوان -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="../images/logost3.png" alt="Logo" width="100" height="100" class="me-2 rounded-circle" />
    </a>

    <!-- زر القائمة في الهاتف -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- روابط التنقل -->
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="../index.html"><i class="fas fa-home me-1"></i>الرئيسية</a></li>
        <li class="nav-item"><a class="nav-link" href="../index.html#features"><i class="fas fa-star me-1"></i>المميزات</a></li>
        <li class="nav-item"><a class="nav-link" href="../index.html#solutions"><i class="fas fa-cogs me-1"></i>الحلول</a></li>
        <li class="nav-item"><a class="nav-link" href="../index.html#map-section"><i class="fas fa-map me-1"></i>الخريطة</a></li>
        <li class="nav-item"><a class="nav-link" href="../index.html#cta"><i class="fas fa-user-circle me-1"></i>تواصل معنا</a></li>
        <!-- زر تغيير اللغة -->
    

      <li class="nav-item" ><a id="findStation"  class="nav-link" href="MapStation.html" ><i class="fas fa-station me-1"></i> ايجاد محطة</a></li>

      </ul>
      
      <!-- <a href="http://" style="padding: 5px;text-decoration: dashed;color: brown; border: 1px solid rgb(142, 161, 161); margin: 5px;">المجطات القريبة</a> -->
    </div>

  </div>
